
.sec_1{
    margin-top: 100px;
  }

 
  ul .visit{
    letter-spacing: 1px;
    color: yellow;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  .btn{
    border: transparent;
    background-color: transparent;
    color:red;
    font-size: 20px;
    font-family: Cambria ;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 2px 3px yellowgreen;
  }
  
  .btn:hover{
    color:blue ;
    cursor: pointer;
  
  }
  