
.hding{
  font-size: 50px;
  font-family: sans-serif;
  font-family: Cambria ;
  
  color: yellowgreen;
  text-shadow: 1px 2px 1px black ;
  margin-left: 50px;
}






.nw_brn{
  background-image: url(./back.jpg);
  min-width: 100%;
  min-height: 100%;

  background-size: cover;
}

#total{

  font-size: 40px;
  color:aquamarine;
   margin-top: 50px ;
  margin-left: 30%;
  font-weight: bold;
text-shadow: 1px 2px 3px black;



}




